.display-picture {
	width: 100%;
}
.display-picture img {
	width: 100%;
	height: 700px;
}
.product-section-container {
	width: 80%;
	margin: 50px auto;
	min-height: 500px;
	padding-top: 20px;
}
.product-section-container h5 {
	margin-top: 60px;
	margin-left: 50px;
	margin-bottom: 30px;
}
.product-section-container h2 {
	margin-left: 50px;	
}
.product-container {
	min-height: 500px;
	width: 100%;
	margin: 0 auto;
}
.product-images {
	width: 100%;
	height: 400px;
}
.product-card {
	margin-left: 50px;
	margin-bottom: 20px;
	height: 300px;
	background-color: #f7f7f7!important;
}
.product-card:hover {
	box-shadow: 2px 2px 2px 1px gray;
}
.product-card-body {
	padding: 10px !important;
}
.card-img-top {
	height: 150px;
}
.carousel-container {

}
.line-break {
	border-color : orange;
	background-color: orange;
	height: 1px;
}
