* {
	margin: 0;
	padding: 0;
}
.navbar {
	background-color: rgba(0,0,0,0.8);
	height: 80px;
	padding-left: 0 !important;
}
.logo {
	padding: 0;
	margin: 0;
	line-height: 80px;
}
.slider-images {
	width: 100%;
	height: 800px;
}
.dropdown-menu {
	z-index: 1 !important
}

/*====================================styling the slider==========================================*/
.carousel-indicators li {
	border: 2px solid orange;
  }
/* styling the caption text */
.carousel-caption h3{
	  font-size: 40px;
	  font-weight: bold;
	  color: white;
  }
.carousel-caption {
  	margin-bottom: 12%;
  	color: white;
  	transition: all 1s ease;
  }
.carousel-caption span {
  	color: orange;
  }
.carousel-caption p {
  	font-size: 20px;
  }
.carousel-caption i {
	font-size: 60px;
	margin-right: 50px;
}

/*coloring the icons*/
.fa-apple {
	color: white;
}
.fa-windows {
	color: darkblue;
}
.fa-android {
	color: green;
}

/*caption button styling*/
.carousel-caption .btn-half {
	background: white;
	margin-left: -50px;
}
.nav-link {
	padding-right: 80px !important;
	margin-right: 80px !important;
}
.navbar-brand {
	margin-right: 300px !important;
}


.carousel-caption .btn-full {
	background: orange;
}
.carousel-caption .btn:hover {
	opacity: 0.7;
}
.carousel-control-next {
	font-size: 20px;
}
.carousel-control-next-icon,.carousel-control-prev-icon  {
	padding:20px;
}
