* {
	margin: 0;
	padding: 0;
}
body {
	padding: 0;
	margin: 0;
	font-family: 'BioRhyme','Georgia', serif;
}
#mainContainer {
	margin: 0;
	padding: 0;
	max-width: 100% !important;
}
.navbar {
	background-color: rgba(0,0,0,0.5);
	max-height: 80px;
	padding-left: 0;
}
.navbar-nav {
	width: 60%;
	display: flex;
	justify-content: space-around;
}
.nav-link {
	color: #f0ad4e!important;
}
.navlinks {
	
}
.navlinks:hover {
	background-color: #f0ad4e;
}
.navlinks:hover .nav-link {
	color: black !important;
}

.navbar-toggler-icon {
	font-size: 30px;
	border-color: white;
}
.logo {
	padding: 0;
	margin: 0;
	line-height: 80px;
}

/*=============================== service table styling =================================*/
.service-table-container {
	width: 100%;
	height: 1000px;
	position: relative;
	padding-top: 120px;
}

/*=============== adding the responsiveness ========================*/
@media only screen and (min-width: 200px){
	.products-table {
		width: 80% !important;
		background-color: rgba(0,0,0,0.7) !important;
		position: absolute;
		top: 38%;
		left: 10%;
	}
}
@media only screen and (min-width: 1200px){
	.products-table {
		position: absolute;
		top: 30%;
		left: 10%;
		width: 80% !important;
		color: white !important;
	}
}


/*========================================================================*/
.products-title {
	color: #f0ad4e;
	padding-top: 20px;
	font-size: 2rem;
	font-style: italic;
}
.line-break {
	border-color : orange;
	background-color: orange;
	height: 1px;
}
.products-description {
	color: white;
	font-style: italic;
	font-family: ;
	width: 50%;
	text-align: justify;
	margin: 0 auto;
}
.product-heading-container {
	width: 80%;
	margin: 0 auto;
}
/*=============================== Styling the footer =============================*/
.page-footer {
	background-color: rgb(0,0,0,0.8);
	margin: 0;
	border: 2px solid transparent;
}
.footerIcons:hover {
		cursor: pointer;
		opacity: 0.5;
}